Projeto para construir a estrutura completa de um projeto para dados de filmes.

In [1]:
#importar libs

import pandas as pd
import numpy as np

In [2]:
#importar o arquivo

df = pd.read_csv('2122.csv', sep=',', encoding='cp1252', decimal =',')

df.head()

,Ano de exibição,Semana de exibição,CPB/ROE,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de Lançamento,Distribuidora,Origem da empresa distribuidora,Número de salas na semana dos dados,Público na semana dos dados,Renda (R$) na semana dos dados
0,2009,semana 01,E1402431200000,007 Quantum of Solace,Ficção,"Estados Unidos, Inglaterra",Estrangeira,07/11/2008,Sony,Distribuição Internacional,31,4.597,"24.719,00"
1,2009,semana 01,B0700678800000,5 Frações de uma Quase História,Ficção,Brasil,Brasileira,09/05/2008,Usina Digital,Distribuição Nacional,1,24,"120,50"
2,2009,semana 01,E1600541500000,A Alegria de Emma,Ficção,Alemanha,Estrangeira,03/10/2008,Pandora Filmes,Distribuição Nacional,1,42,"700,00"
3,2009,semana 01,E1600594000000,A Bela Junie,Ficção,França,Estrangeira,01/01/2009,Imovision,Distribuição Nacional,2,1.331,"15.710,50"
4,2009,semana 01,E1600127600000,A Casa das Coelhinhas,Ficção,Estados Unidos,Estrangeira,10/10/2008,Sony,Distribuição Internacional,4,402,"2.011,00"

In [3]:
df.tail(10)

,Ano de exibição,Semana de exibição,CPB/ROE,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de Lançamento,Distribuidora,Origem da empresa distribuidora,Número de salas na semana dos dados,Público na semana dos dados,Renda (R$) na semana dos dados
61124,2019,semana 52,E1900302600000,Rainha De Copas,Ficção,"Dinamarca, Suécia",Estrangeira,12/09/2019,Arteplex,Distribuição Nacional,1,66,"790,00"
61125,2019,semana 52,E1900499200000,Retablo,Ficção,"Alemanha, Noruega, Peru",Estrangeira,07/11/2019,Arteplex,Distribuição Nacional,2,28,"548,00"
61126,2019,semana 52,E1900358900000,Star Wars: A Ascensão Skywalker,Ficção,Estados Unidos,Estrangeira,19/12/2019,Disney,Distribuição Internacional,1.669,681.068,"13.105.649,00"
61127,2019,semana 52,E1900525400000,Synonyms,Ficção,"Alemanha, França, Israel",Estrangeira,12/12/2019,Fênix Filmes/Escarlate,Distribuição Nacional,12,1.258,"23.111,00"
61128,2019,semana 52,E1900229100000,Toy Story 4,Animação,Estados Unidos,Estrangeira,20/06/2019,Disney,Distribuição Internacional,1,49,"479,00"
61129,2019,semana 52,E1900431700000,Um Amante Francês,Ficção,França,Estrangeira,28/11/2019,Pagu Pictures,Distribuição Nacional,1,44,"434,00"
61130,2019,semana 52,E1900466900000,Um Dia De Chuva Em Nova York,Ficção,Estados Unidos,Estrangeira,21/11/2019,Imagem,Distribuição Nacional,12,2.662,"57.290,00"
61131,2019,semana 52,B1800552500000,Um Dia Para Susana,Documentário,Brasil,Brasileira,03/10/2019,Vitrine Filmes,Distribuição Nacional,1,12,"36,00"
61132,2019,semana 52,B1900177100000,Uma,Documentário,"Brasil, Índia",Brasileira,21/11/2019,Espaço Filmes,Distribuição Nacional,2,73,"1.345,00"
61133,2019,semana 52,E1900436800000,Uma Segunda Chance Para Amar,Ficção,"Estados Unidos, Reino Unido",Estrangeira,28/11/2019,Universal,Distribuição Internacional,32,2.572,"41.975,00"

In [4]:
#buscando pelos valores diferenes de data na coluna data de relançamento (eu já havia identificado relançamento)
df[df['Data de Lançamento'] == 'relançamento']

,Ano de exibição,Semana de exibição,CPB/ROE,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de Lançamento,Distribuidora,Origem da empresa distribuidora,Número de salas na semana dos dados,Público na semana dos dados,Renda (R$) na semana dos dados
58564,2019,semana 23,E1900281400000,Playtime - Tempo De Diversão,Ficção,"França, Itália",Estrangeira,relançamento,F. J. Cines,Distribuição Nacional,1,268,"2.916,00"

In [5]:
#duplicando a coluna data de lançamento
df['Relançado'] = df.loc[:, 'Data de Lançamento']

In [6]:
#verificando com coluna adicionada
df

,Ano de exibição,Semana de exibição,CPB/ROE,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de Lançamento,Distribuidora,Origem da empresa distribuidora,Número de salas na semana dos dados,Público na semana dos dados,Renda (R$) na semana dos dados,Relançado
0,2009,semana 01,E1402431200000,007 Quantum of Solace,Ficção,"Estados Unidos, Inglaterra",Estrangeira,07/11/2008,Sony,Distribuição Internacional,31,4.597,"24.719,00",07/11/2008
1,2009,semana 01,B0700678800000,5 Frações de uma Quase História,Ficção,Brasil,Brasileira,09/05/2008,Usina Digital,Distribuição Nacional,1,24,"120,50",09/05/2008
2,2009,semana 01,E1600541500000,A Alegria de Emma,Ficção,Alemanha,Estrangeira,03/10/2008,Pandora Filmes,Distribuição Nacional,1,42,"700,00",03/10/2008
3,2009,semana 01,E1600594000000,A Bela Junie,Ficção,França,Estrangeira,01/01/2009,Imovision,Distribuição Nacional,2,1.331,"15.710,50",01/01/2009
4,2009,semana 01,E1600127600000,A Casa das Coelhinhas,Ficção,Estados Unidos,Estrangeira,10/10/2008,Sony,Distribuição Internacional,4,402,"2.011,00",10/10/2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61129,2019,semana 52,E1900431700000,Um Amante Francês,Ficção,França,Estrangeira,28/11/2019,Pagu Pictures,Distribuição Nacional,1,44,"434,00",28/11/2019
61130,2019,semana 52,E1900466900000,Um Dia De Chuva Em Nova York,Ficção,Estados Unidos,Estrangeira,21/11/2019,Imagem,Distribuição Nacional,12,2.662,"57.290,00",21/11/2019
61131,2019,semana 52,B1800552500000,Um Dia Para Susana,Documentário,Brasil,Brasileira,03/10/2019,Vitrine Filmes,Distribuição Nacional,1,12,"36,00",03/10/2019
61132,2019,semana 52,B1900177100000,Uma,Documentário,"Brasil, Índia",Brasileira,21/11/2019,Espaço Filmes,Distribuição Nacional,2,73,"1.345,00",21/11/2019
61133,2019,semana 52,E1900436800000,Uma Segunda Chance Para Amar,Ficção,"Estados Unidos, Reino Unido",Estrangeira,28/11/2019,Universal,Distribuição Internacional,32,2.572,"41.975,00",28/11/2019

In [7]:
#verificando tipos de dados
df.dtypes

Ano de exibição                         int64
Semana de exibição                     object
CPB/ROE                                object
Título da obra                         object
Gênero                                 object
País(es) produtor(es) da obra          object
Nacionalidade da obra                  object
Data de Lançamento                     object
Distribuidora                          object
Origem da empresa distribuidora        object
Número de salas na semana dos dados    object
Público na semana dos dados            object
Renda (R$) na semana dos dados         object
Relançado                              object
dtype: object

In [8]:
#substituindo valores Relançamento e relançado por sim na coluna Relançado.
df = df.replace({'Relançado': {'relançamento' : 'Sim', 'Relançamento' : 'Sim'}})

In [9]:
#verificando a substituição dos valores
df[df['Relançado'] == 'Sim']

,Ano de exibição,Semana de exibição,CPB/ROE,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de Lançamento,Distribuidora,Origem da empresa distribuidora,Número de salas na semana dos dados,Público na semana dos dados,Renda (R$) na semana dos dados,Relançado
519,2009,semana 05,E1600589800000,Os Contos de Canterbury,Ficção,Itália,Estrangeira,Relançamento,Pandora Filmes,Distribuição Nacional,1,886,"6.758,50",Sim
636,2009,semana 06,E1600589800000,Os Contos de Canterbury,Ficção,Itália,Estrangeira,Relançamento,Pandora Filmes,Distribuição Nacional,1,707,"4.378,00",Sim
746,2009,semana 07,E1600589800000,Os Contos de Canterbury,Ficção,Itália,Estrangeira,Relançamento,Pandora Filmes,Distribuição Nacional,1,432,"2.765,50",Sim
847,2009,semana 08,E1600589800000,Os Contos de Canterbury,Ficção,Itália,Estrangeira,Relançamento,Pandora Filmes,Distribuição Nacional,1,473,"2.990,50",Sim
956,2009,semana 09,E1600589800000,Os Contos de Canterbury,Ficção,Itália,Estrangeira,Relançamento,Pandora Filmes,Distribuição Nacional,1,281,"1.800,50",Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58564,2019,semana 23,E1900281400000,Playtime - Tempo De Diversão,Ficção,"França, Itália",Estrangeira,relançamento,F. J. Cines,Distribuição Nacional,1,268,"2.916,00",Sim
60253,2019,semana 43,E1402825800000,O Iluminado,Ficção,Estados Unidos,Estrangeira,Relançamento,Warner,Distribuição Internacional,130,7.697,"100.196,00",Sim
60841,2019,semana 49,E1500096600000,Matrix,Ficção,"Austrália, Estados Unidos",Estrangeira,Relançamento,Warner,Distribuição Internacional,190,16.816,"257.654,00",Sim
60941,2019,semana 50,E1500096600000,Matrix,Ficção,"Austrália, Estados Unidos",Estrangeira,Relançamento,Warner,Distribuição Internacional,16,1.368,"18.809,00",Sim
61037,2019,semana 51,E1500096600000,Matrix,Ficção,"Austrália, Estados Unidos",Estrangeira,Relançamento,Warner,Distribuição Internacional,1,76,"1.100,00",Sim

In [10]:
#copiando novo DF
df_novo = df.copy()

In [11]:
df_novo[df['Relançado'] != 'Sim']

,Ano de exibição,Semana de exibição,CPB/ROE,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de Lançamento,Distribuidora,Origem da empresa distribuidora,Número de salas na semana dos dados,Público na semana dos dados,Renda (R$) na semana dos dados,Relançado
0,2009,semana 01,E1402431200000,007 Quantum of Solace,Ficção,"Estados Unidos, Inglaterra",Estrangeira,07/11/2008,Sony,Distribuição Internacional,31,4.597,"24.719,00",07/11/2008
1,2009,semana 01,B0700678800000,5 Frações de uma Quase História,Ficção,Brasil,Brasileira,09/05/2008,Usina Digital,Distribuição Nacional,1,24,"120,50",09/05/2008
2,2009,semana 01,E1600541500000,A Alegria de Emma,Ficção,Alemanha,Estrangeira,03/10/2008,Pandora Filmes,Distribuição Nacional,1,42,"700,00",03/10/2008
3,2009,semana 01,E1600594000000,A Bela Junie,Ficção,França,Estrangeira,01/01/2009,Imovision,Distribuição Nacional,2,1.331,"15.710,50",01/01/2009
4,2009,semana 01,E1600127600000,A Casa das Coelhinhas,Ficção,Estados Unidos,Estrangeira,10/10/2008,Sony,Distribuição Internacional,4,402,"2.011,00",10/10/2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61129,2019,semana 52,E1900431700000,Um Amante Francês,Ficção,França,Estrangeira,28/11/2019,Pagu Pictures,Distribuição Nacional,1,44,"434,00",28/11/2019
61130,2019,semana 52,E1900466900000,Um Dia De Chuva Em Nova York,Ficção,Estados Unidos,Estrangeira,21/11/2019,Imagem,Distribuição Nacional,12,2.662,"57.290,00",21/11/2019
61131,2019,semana 52,B1800552500000,Um Dia Para Susana,Documentário,Brasil,Brasileira,03/10/2019,Vitrine Filmes,Distribuição Nacional,1,12,"36,00",03/10/2019
61132,2019,semana 52,B1900177100000,Uma,Documentário,"Brasil, Índia",Brasileira,21/11/2019,Espaço Filmes,Distribuição Nacional,2,73,"1.345,00",21/11/2019
61133,2019,semana 52,E1900436800000,Uma Segunda Chance Para Amar,Ficção,"Estados Unidos, Reino Unido",Estrangeira,28/11/2019,Universal,Distribuição Internacional,32,2.572,"41.975,00",28/11/2019

In [12]:
#trocando datas por não.
df_novo.loc[(df.Relançado != 'Sim'),'Relançado']='Não'

In [13]:
df_novo

,Ano de exibição,Semana de exibição,CPB/ROE,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de Lançamento,Distribuidora,Origem da empresa distribuidora,Número de salas na semana dos dados,Público na semana dos dados,Renda (R$) na semana dos dados,Relançado
0,2009,semana 01,E1402431200000,007 Quantum of Solace,Ficção,"Estados Unidos, Inglaterra",Estrangeira,07/11/2008,Sony,Distribuição Internacional,31,4.597,"24.719,00",Não
1,2009,semana 01,B0700678800000,5 Frações de uma Quase História,Ficção,Brasil,Brasileira,09/05/2008,Usina Digital,Distribuição Nacional,1,24,"120,50",Não
2,2009,semana 01,E1600541500000,A Alegria de Emma,Ficção,Alemanha,Estrangeira,03/10/2008,Pandora Filmes,Distribuição Nacional,1,42,"700,00",Não
3,2009,semana 01,E1600594000000,A Bela Junie,Ficção,França,Estrangeira,01/01/2009,Imovision,Distribuição Nacional,2,1.331,"15.710,50",Não
4,2009,semana 01,E1600127600000,A Casa das Coelhinhas,Ficção,Estados Unidos,Estrangeira,10/10/2008,Sony,Distribuição Internacional,4,402,"2.011,00",Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61129,2019,semana 52,E1900431700000,Um Amante Francês,Ficção,França,Estrangeira,28/11/2019,Pagu Pictures,Distribuição Nacional,1,44,"434,00",Não
61130,2019,semana 52,E1900466900000,Um Dia De Chuva Em Nova York,Ficção,Estados Unidos,Estrangeira,21/11/2019,Imagem,Distribuição Nacional,12,2.662,"57.290,00",Não
61131,2019,semana 52,B1800552500000,Um Dia Para Susana,Documentário,Brasil,Brasileira,03/10/2019,Vitrine Filmes,Distribuição Nacional,1,12,"36,00",Não
61132,2019,semana 52,B1900177100000,Uma,Documentário,"Brasil, Índia",Brasileira,21/11/2019,Espaço Filmes,Distribuição Nacional,2,73,"1.345,00",Não
61133,2019,semana 52,E1900436800000,Uma Segunda Chance Para Amar,Ficção,"Estados Unidos, Reino Unido",Estrangeira,28/11/2019,Universal,Distribuição Internacional,32,2.572,"41.975,00",Não

In [14]:
#verificando se a substituição funcionou.
df_novo[df_novo['Relançado'] == 'Não']

,Ano de exibição,Semana de exibição,CPB/ROE,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de Lançamento,Distribuidora,Origem da empresa distribuidora,Número de salas na semana dos dados,Público na semana dos dados,Renda (R$) na semana dos dados,Relançado
0,2009,semana 01,E1402431200000,007 Quantum of Solace,Ficção,"Estados Unidos, Inglaterra",Estrangeira,07/11/2008,Sony,Distribuição Internacional,31,4.597,"24.719,00",Não
1,2009,semana 01,B0700678800000,5 Frações de uma Quase História,Ficção,Brasil,Brasileira,09/05/2008,Usina Digital,Distribuição Nacional,1,24,"120,50",Não
2,2009,semana 01,E1600541500000,A Alegria de Emma,Ficção,Alemanha,Estrangeira,03/10/2008,Pandora Filmes,Distribuição Nacional,1,42,"700,00",Não
3,2009,semana 01,E1600594000000,A Bela Junie,Ficção,França,Estrangeira,01/01/2009,Imovision,Distribuição Nacional,2,1.331,"15.710,50",Não
4,2009,semana 01,E1600127600000,A Casa das Coelhinhas,Ficção,Estados Unidos,Estrangeira,10/10/2008,Sony,Distribuição Internacional,4,402,"2.011,00",Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61129,2019,semana 52,E1900431700000,Um Amante Francês,Ficção,França,Estrangeira,28/11/2019,Pagu Pictures,Distribuição Nacional,1,44,"434,00",Não
61130,2019,semana 52,E1900466900000,Um Dia De Chuva Em Nova York,Ficção,Estados Unidos,Estrangeira,21/11/2019,Imagem,Distribuição Nacional,12,2.662,"57.290,00",Não
61131,2019,semana 52,B1800552500000,Um Dia Para Susana,Documentário,Brasil,Brasileira,03/10/2019,Vitrine Filmes,Distribuição Nacional,1,12,"36,00",Não
61132,2019,semana 52,B1900177100000,Uma,Documentário,"Brasil, Índia",Brasileira,21/11/2019,Espaço Filmes,Distribuição Nacional,2,73,"1.345,00",Não
61133,2019,semana 52,E1900436800000,Uma Segunda Chance Para Amar,Ficção,"Estados Unidos, Reino Unido",Estrangeira,28/11/2019,Universal,Distribuição Internacional,32,2.572,"41.975,00",Não

In [15]:
#trocando Relançamento e relaçançamento da coluna data de lançamento por NaN
df_novo = df_novo.replace({'Data de Lançamento': {'relançamento' : np.nan, 'Relançamento' : np.nan}})

In [16]:
#verificando a substituição
df_novo[df_novo['Relançado'] == 'Sim']

,Ano de exibição,Semana de exibição,CPB/ROE,Título da obra,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de Lançamento,Distribuidora,Origem da empresa distribuidora,Número de salas na semana dos dados,Público na semana dos dados,Renda (R$) na semana dos dados,Relançado
519,2009,semana 05,E1600589800000,Os Contos de Canterbury,Ficção,Itália,Estrangeira,NaN,Pandora Filmes,Distribuição Nacional,1,886,"6.758,50",Sim
636,2009,semana 06,E1600589800000,Os Contos de Canterbury,Ficção,Itália,Estrangeira,NaN,Pandora Filmes,Distribuição Nacional,1,707,"4.378,00",Sim
746,2009,semana 07,E1600589800000,Os Contos de Canterbury,Ficção,Itália,Estrangeira,NaN,Pandora Filmes,Distribuição Nacional,1,432,"2.765,50",Sim
847,2009,semana 08,E1600589800000,Os Contos de Canterbury,Ficção,Itália,Estrangeira,NaN,Pandora Filmes,Distribuição Nacional,1,473,"2.990,50",Sim
956,2009,semana 09,E1600589800000,Os Contos de Canterbury,Ficção,Itália,Estrangeira,NaN,Pandora Filmes,Distribuição Nacional,1,281,"1.800,50",Sim
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58564,2019,semana 23,E1900281400000,Playtime - Tempo De Diversão,Ficção,"França, Itália",Estrangeira,NaN,F. J. Cines,Distribuição Nacional,1,268,"2.916,00",Sim
60253,2019,semana 43,E1402825800000,O Iluminado,Ficção,Estados Unidos,Estrangeira,NaN,Warner,Distribuição Internacional,130,7.697,"100.196,00",Sim
60841,2019,semana 49,E1500096600000,Matrix,Ficção,"Austrália, Estados Unidos",Estrangeira,NaN,Warner,Distribuição Internacional,190,16.816,"257.654,00",Sim
60941,2019,semana 50,E1500096600000,Matrix,Ficção,"Austrália, Estados Unidos",Estrangeira,NaN,Warner,Distribuição Internacional,16,1.368,"18.809,00",Sim
61037,2019,semana 51,E1500096600000,Matrix,Ficção,"Austrália, Estados Unidos",Estrangeira,NaN,Warner,Distribuição Internacional,1,76,"1.100,00",Sim

In [17]:
#converter a data de lançamento para data.
df_novo['Data de Lançamento'] = pd.to_datetime(df_novo['Data de Lançamento'])

In [18]:
#converter a coluna de renda para float
df_novo['Renda (R$) na semana dos dados'] = df_novo ['Renda (R$) na semana dos dados'].str.replace('.','', regex=True)

df_novo['Renda (R$) na semana dos dados'] = df_novo ['Renda (R$) na semana dos dados'].str.replace(',','.', regex=True)

df_novo['Renda (R$) na semana dos dados'] = df_novo['Renda (R$) na semana dos dados'].astype(float)

In [19]:
#converter a coluna de publico na semana para float
df_novo['Público na semana dos dados'] = df_novo ['Público na semana dos dados'].str.replace('.','', regex=True)

df_novo['Público na semana dos dados'] = df_novo['Público na semana dos dados'].astype(float)

In [20]:
#verificando DF
df_novo.dtypes

Ano de exibição                                 int64
Semana de exibição                             object
CPB/ROE                                        object
Título da obra                                 object
Gênero                                         object
País(es) produtor(es) da obra                  object
Nacionalidade da obra                          object
Data de Lançamento                     datetime64[ns]
Distribuidora                                  object
Origem da empresa distribuidora                object
Número de salas na semana dos dados            object
Público na semana dos dados                   float64
Renda (R$) na semana dos dados                float64
Relançado                                      object
dtype: object

In [21]:
#criar coluna Id para a tabela.
df_novo['id'] = df.index

In [22]:
#verificando id
df_novo[df_novo['Título da obra'] == 'A Lista'][['Título da obra', 'CPB/ROE', 'id']]

    Título da obra  CPB/ROE   id
8          A Lista  Sem ROE    8
123        A Lista  Sem ROE  123
231        A Lista  Sem ROE  231
340        A Lista  Sem ROE  340
671        A Lista  Sem ROE  671
779        A Lista  Sem ROE  779
884        A Lista  Sem ROE  884

In [23]:
#criar coluna Id para genero.
df_novo['id_genero'] = df[['Gênero']].sum(axis=1).map(hash)

In [24]:
#verificando ids
df_novo[df_novo['Título da obra'] == 'A Lista'][['Título da obra', 'CPB/ROE', 'id', 'Gênero', 'id_genero']]

    Título da obra  CPB/ROE   id  Gênero            id_genero
8          A Lista  Sem ROE    8  Ficção -2115102735271504749
123        A Lista  Sem ROE  123  Ficção -2115102735271504749
231        A Lista  Sem ROE  231  Ficção -2115102735271504749
340        A Lista  Sem ROE  340  Ficção -2115102735271504749
671        A Lista  Sem ROE  671  Ficção -2115102735271504749
779        A Lista  Sem ROE  779  Ficção -2115102735271504749
884        A Lista  Sem ROE  884  Ficção -2115102735271504749

In [25]:
#mudando a ordem das colunas
df_novo = df_novo[['id', 'Ano de exibição', 'Semana de exibição', 'CPB/ROE', 'Título da obra', 'id_genero', 'Gênero', 'País(es) produtor(es) da obra', 'Nacionalidade da obra', 'Data de Lançamento', 'Distribuidora', 'Origem da empresa distribuidora', 'Número de salas na semana dos dados', 'Público na semana dos dados', 'Renda (R$) na semana dos dados', 'Relançado']]

In [26]:
df_novo

,id,Ano de exibição,Semana de exibição,CPB/ROE,Título da obra,id_genero,Gênero,País(es) produtor(es) da obra,Nacionalidade da obra,Data de Lançamento,Distribuidora,Origem da empresa distribuidora,Número de salas na semana dos dados,Público na semana dos dados,Renda (R$) na semana dos dados,Relançado
0,0,2009,semana 01,E1402431200000,007 Quantum of Solace,-2115102735271504749,Ficção,"Estados Unidos, Inglaterra",Estrangeira,2008-07-11,Sony,Distribuição Internacional,31,4597.0,24719.0,Não
1,1,2009,semana 01,B0700678800000,5 Frações de uma Quase História,-2115102735271504749,Ficção,Brasil,Brasileira,2008-09-05,Usina Digital,Distribuição Nacional,1,24.0,120.5,Não
2,2,2009,semana 01,E1600541500000,A Alegria de Emma,-2115102735271504749,Ficção,Alemanha,Estrangeira,2008-03-10,Pandora Filmes,Distribuição Nacional,1,42.0,700.0,Não
3,3,2009,semana 01,E1600594000000,A Bela Junie,-2115102735271504749,Ficção,França,Estrangeira,2009-01-01,Imovision,Distribuição Nacional,2,1331.0,15710.5,Não
4,4,2009,semana 01,E1600127600000,A Casa das Coelhinhas,-2115102735271504749,Ficção,Estados Unidos,Estrangeira,2008-10-10,Sony,Distribuição Internacional,4,402.0,2011.0,Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61129,61129,2019,semana 52,E1900431700000,Um Amante Francês,-2115102735271504749,Ficção,França,Estrangeira,2019-11-28,Pagu Pictures,Distribuição Nacional,1,44.0,434.0,Não
61130,61130,2019,semana 52,E1900466900000,Um Dia De Chuva Em Nova York,-2115102735271504749,Ficção,Estados Unidos,Estrangeira,2019-11-21,Imagem,Distribuição Nacional,12,2662.0,57290.0,Não
61131,61131,2019,semana 52,B1800552500000,Um Dia Para Susana,3480703677425078391,Documentário,Brasil,Brasileira,2019-03-10,Vitrine Filmes,Distribuição Nacional,1,12.0,36.0,Não
61132,61132,2019,semana 52,B1900177100000,Uma,3480703677425078391,Documentário,"Brasil, Índia",Brasileira,2019-11-21,Espaço Filmes,Distribuição Nacional,2,73.0,1345.0,Não
61133,61133,2019,semana 52,E1900436800000,Uma Segunda Chance Para Amar,-2115102735271504749,Ficção,"Estados Unidos, Reino Unido",Estrangeira,2019-11-28,Universal,Distribuição Internacional,32,2572.0,41975.0,Não

In [31]:
#criando dataframe filmes
df_filmes = df_novo[['id', 'Título da obra', 'id_genero', 'Nacionalidade da obra', 'País(es) produtor(es) da obra', 'Data de Lançamento', 'Distribuidora', 'Origem da empresa distribuidora']].copy()

In [32]:
#alterando o nome das colunas do df_filmes 
df_filmes.rename(columns={'Título da obra': 'titulo_obra', 'id_genero': 'id_genero', 'País(es) produtor(es) da obra': 'pais', 'Nacionalidade da obra': 'nacionalidade', 'Data de Lançamento': 'lancamento', 'Distribuidora': 'distribuidora', 'Origem da empresa distribuidora': 'origem_distribuidora'}, inplace = True)

In [33]:
#verificando Df filmes.
df_filmes

,id,titulo_obra,id_genero,nacionalidade,pais,lancamento,distribuidora,origem_distribuidora
0,0,007 Quantum of Solace,-2115102735271504749,Estrangeira,"Estados Unidos, Inglaterra",2008-07-11,Sony,Distribuição Internacional
1,1,5 Frações de uma Quase História,-2115102735271504749,Brasileira,Brasil,2008-09-05,Usina Digital,Distribuição Nacional
2,2,A Alegria de Emma,-2115102735271504749,Estrangeira,Alemanha,2008-03-10,Pandora Filmes,Distribuição Nacional
3,3,A Bela Junie,-2115102735271504749,Estrangeira,França,2009-01-01,Imovision,Distribuição Nacional
4,4,A Casa das Coelhinhas,-2115102735271504749,Estrangeira,Estados Unidos,2008-10-10,Sony,Distribuição Internacional
...,...,...,...,...,...,...,...,...
61129,61129,Um Amante Francês,-2115102735271504749,Estrangeira,França,2019-11-28,Pagu Pictures,Distribuição Nacional
61130,61130,Um Dia De Chuva Em Nova York,-2115102735271504749,Estrangeira,Estados Unidos,2019-11-21,Imagem,Distribuição Nacional
61131,61131,Um Dia Para Susana,3480703677425078391,Brasileira,Brasil,2019-03-10,Vitrine Filmes,Distribuição Nacional
61132,61132,Uma,3480703677425078391,Brasileira,"Brasil, Índia",2019-11-21,Espaço Filmes,Distribuição Nacional
61133,61133,Uma Segunda Chance Para Amar,-2115102735271504749,Estrangeira,"Estados Unidos, Reino Unido",2019-11-28,Universal,Distribuição Internacional

In [34]:
#Criando df_Cinemas, 
df_cinema = df_novo[['id', 'Ano de exibição', 'Semana de exibição', 'Número de salas na semana dos dados', 'Público na semana dos dados', 'Renda (R$) na semana dos dados']].copy()

In [35]:
#alterando o nome das colunas do df_cinema
df_cinema.rename(columns={'Ano de exibição': 'ano_exibicao', 'Semana de exibição': 'semana_exibicao', 'Número de salas na semana dos dados': 'salas_na_semana', 'Público na semana dos dados': 'publico_na_semana', 'Renda (R$) na semana dos dados': 'renda'}, inplace = True)

In [36]:
#verificando df_cinemas
df_cinema

,id,ano_exibicao,semana_exibicao,salas_na_semana,publico_na_semana,renda
0,0,2009,semana 01,31,4597.0,24719.0
1,1,2009,semana 01,1,24.0,120.5
2,2,2009,semana 01,1,42.0,700.0
3,3,2009,semana 01,2,1331.0,15710.5
4,4,2009,semana 01,4,402.0,2011.0
...,...,...,...,...,...,...
61129,61129,2019,semana 52,1,44.0,434.0
61130,61130,2019,semana 52,12,2662.0,57290.0
61131,61131,2019,semana 52,1,12.0,36.0
61132,61132,2019,semana 52,2,73.0,1345.0
61133,61133,2019,semana 52,32,2572.0,41975.0

In [37]:
#Criando df_genero, 
df_genero = df_novo[['id_genero', 'Gênero',]].copy()

In [38]:
#alterando o nome das colunas do df_genero
df_genero.rename(columns={'Gênero': 'genero'}, inplace = True)

In [39]:
#verificando df_cinemas
df_genero

                 id_genero        genero
0     -2115102735271504749        Ficção
1     -2115102735271504749        Ficção
2     -2115102735271504749        Ficção
3     -2115102735271504749        Ficção
4     -2115102735271504749        Ficção
...                    ...           ...
61129 -2115102735271504749        Ficção
61130 -2115102735271504749        Ficção
61131  3480703677425078391  Documentário
61132  3480703677425078391  Documentário
61133 -2115102735271504749        Ficção

[61134 rows x 2 columns]

In [40]:
#remover valores duplicados do df_genero
df_genero = df_genero.drop_duplicates()

In [41]:
#verificando Df genero
df_genero

                id_genero        genero
0    -2115102735271504749        Ficção
17    2961393975791184855      Animação
20    3480703677425078391  Documentário
9027  5638823325622048405  Vídeomusical

In [42]:
#Criando df_pais, 
df_pais = df_novo[['País(es) produtor(es) da obra',]].copy()

In [43]:
#alterando o nome das colunas do df_pais
df_pais.rename(columns={'País(es) produtor(es) da obra': 'pais'}, inplace = True)

In [44]:
#verificando df pais
df_pais

                              pais
0       Estados Unidos, Inglaterra
1                           Brasil
2                         Alemanha
3                           França
4                   Estados Unidos
...                            ...
61129                       França
61130               Estados Unidos
61131                       Brasil
61132                Brasil, Índia
61133  Estados Unidos, Reino Unido

[61134 rows x 1 columns]

In [45]:
df_filmes.dtypes

id                               int64
titulo_obra                     object
id_genero                        int64
nacionalidade                   object
pais                            object
lancamento              datetime64[ns]
distribuidora                   object
origem_distribuidora            object
dtype: object